* {
    /* border: 1px solid red; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
}

#logo {
    height: 100px;
    width: 100px;
}

header {
    background-color: #637A9F;
    padding-bottom: 1rem;
}

#content {
    background-color: #C9D7DD;
}

#logoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoDiv span {
    color:#E8C872;
    font-weight: 700;
    font-style: italic;
}

.nav {
    display: flex;
    gap: 20px;
}
button {
    padding: 1rem;
    background-color: #C9D7DD;
    font-weight: 700;
    font-size: 1.2em;

    border: 2px solid #637A9F;
    border-radius: 25px;
    color:#637A9F;
}
button:hover {
    background-color: #E8C872;
    color: white;
    border: 2px solid black;
}

header, #content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-img {
    filter: brightness(50%);
    border-radius: 5px;
    width: 85vw;
    
    object-fit: cover;
    height: 35vh;
    margin: 20px;
}

#firstCard, #secondCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;

}

#FCtext, #SCtext {
    position: absolute;
    color: white;
    z-index: 1;

    font-size: 0.9em;
    max-width: 85vw;

    margin: 100px;

    display: flex;
    flex-flow: column;
    align-items: center;
}

#FCtext h3, #SCtext h3 {
    font-size: 1.3em;
}

#FCtext button, #SCtext button {
    font-size: 1em;
    padding: 10px;
}


@media only screen and (min-width: 700px) {
    
    .food-img {
        height: 70vh;
    }
    #logo {
        width: 10vw;
        height: 10vw;
    }
    #logoDiv span {
        font-size: 1.6vw;
    }

    header {
        flex-direction: row;
        gap: 5vw;
        align-items: center;
        padding-bottom: 0;
    }
    
    #FCtext h3, #SCtext h3 {
        margin-left: 10vw;
        margin-right: 10vw;

        font-size: 4vw;
        text-align: center;
    }

    #FCtext p, #SCtext p {
        margin-left: 10vw;
        margin-right: 10vw;

        font-size: 2vw;
        text-align: center;

    }
    #FCtext button, #SCtext button {
        font-size: 1.5vw;
        margin-bottom: 10vh;
    }

}