* {
    border: 1px solid red;
}

#logo {
    height: 100px;
    width: 100px;
}

#food-1, #food-2 {
    max-width: 70vw;
}

header, #content {
    display: flex;
    flex-direction: column;
    align-items: center;
}